body{
  font-family: 'Times New Roman', Times, serif

}
p{
  font-size: 22px;
  padding: 10px;
}
h2{
  font-size: 25px;
}
/* forulario.js */
fieldset h1{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  color: rgb(255, 189, 113);
  text-shadow: 3px 3px 4px black;
}
.contenedor-formulario{
  background-image: url(img4.jpg);
  background-size: 100% 100%;
  font-size: 22px;
  padding: 30px;
  margin-bottom: 10px;
}
.contenedor-formulario fieldset{
  width: 90%;
  margin: auto;
  border: none;

  text-align: center;
  padding: 0;
}
.contenedor-formulario .input-contenedor{
  width:45%;
  display:inline-block;
  text-align: center;
  margin: 10px;
}
.contenedor-formulario input{
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px 5px 5px;
  padding: 5px;
  
}
.contenedor-formulario button{
  width:100px;
  float:right;
  margin-top: 10px;
  border-radius: 5px 5px 5px;
  padding: 5px;
  
}
.contenedor-formulario label{
  display: block;
  box-sizing: border-box;
  text-align: start;
  margin-bottom: 5px;
  color:white;
  text-shadow: 3px 3px 5px black;
}
.error{
  background-color: rgb(250, 93, 93);
  color: rgb(100, 10, 10);
  padding: 5px;
  margin:0;
}

/* contenedor de  cancion y artista */
.contenedor-resultados{
  width: 80%;
  
  margin: auto;
}


/* cancion */
.contenedor-cancion{
  width: 50%;
  float: right;
  white-space: pre-line;

}
.contenedor-cancion .cont-p{
  width: 50%;
  margin: auto;
}
.contenedor-cancion h2{
  border-bottom: rgb(255, 154, 39) solid;
  margin: auto;
  text-align: center;
  width: 90%;
  padding:10px 0
}
.contenedor-cancion p{
  text-align: center;
  box-sizing: border-box;

}



/* artista */
.contenedor-artista {
  width: 50%;
  white-space: pre-line;

}
.contenedor-artista img{
  width: 95%;
  padding: 10px;
}
.contenedor-artista h2{
  background-color:rgb(255, 154, 39);
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 95%;
  margin: auto;
}
.contenedor-artista h3{
  text-align: center;
}




/* responsive */
@media screen and (max-width:960px){
  .contenedor-formulario fieldset {
    width: 100%;
  }
  .contenedor-resultados{
    width: 100%;
  }
}


@media screen and (max-width:800px){
  h2{
    font-size: 22px;
  }

  .contenedor-cancion .cont-p{
    width: 70%;
  }
  .contenedor-formulario form fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}


@media screen and (max-width:600px){
  .contenedor-formulario fieldset{
    width: 100%;
  }
  .contenedor-formulario .input-contenedor{
    width:100%;
    display: block;
    margin: 0
  }
  .contenedor-resultados .contenedor-cancion{
    float: none;
    width: 100%;
  }
  .contenedor-resultados .contenedor-artista{
    width: 100%;
  }

  p{
      font-size: 20px;
  }

}

@media screen and (max-width:460px){
  .contenedor-formulario {
    width: 100%;
    padding:2px ;

  }

  .contenedor-formulario label{
    font-size: 18px;
    margin: 0;
  }

}